@font-face {
  font-family: "Michroma";
  src: url(/vendors/fonts/Michroma/Michroma-Regular.ttf);
}

@font-face {
  font-family: "Quicksand";
  src: url(/vendors/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Cedarville Cursive";
  src: url(/vendors/fonts/Cedarville_Cursive/CedarvilleCursive-Regular.ttf);
  font-size: 60px;
}
.body_wrap {
  padding: 50px;
  margin: 0;
  background-color: rgb(239, 221, 196);
  font-family: "Quicksand";
  margin: 0;
}

.stickers_1 {
  position: absolute;
  top: 175px;
  right: 50px;
  width: 70px;
  height: 250px;
  opacity: 80%;
}

.stickers_2 {
  position: absolute;
  top: 150px;
  left: -100px;
  z-index: -1;
  opacity: 80%;
  height: 400px;
  width: 1200px;
}

.header {
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.header__title {
  font-family: "Michroma";
  color: rgb(102, 88, 22);
  font-size: 60px;
  margin: 0;
}

.header__sub-title {
  font-family: "Cedarville Cursive";
  font-size: 30px;
}

.header__links {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 90px;
  font-size: 30px;
  font-family: "Cedarville Cursive";
}

.header__link {
  text-decoration: none;
  color: rgba(143, 61, 3, 0.875);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.4fr 0.4fr;
  grid-gap: 40px 20px;
  height: 100%;
  padding: 0px;
  box-sizing: border-box;
}

.block {
  border: solid black 1px;
  padding: 10px;
  border: solid black 1px;
  padding: 10px;
  border-radius: 16px; /* Rounded corners */
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12), 0 1.5px 6px rgba(0, 0, 0, 0.1);
  background: #fff; /* Optional: white background */
  transition: box-shadow 0.3s, transform 0.3s;
}

.block_about-me {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  font-size: 20px;
  margin-top: 25px;
}

.block__about-me-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block_about-me-bottom-1 {
  padding-top: 110px;
  font-style: italic;
  margin: 0;
}

.block_about-me-bottom-2 {
  padding: 0;
  text-align: center;
}

.block_contact-info {
  grid-column: 3 / 6;
  grid-row: 2 / 2;
  text-align: center;
  margin: 0;
  padding: 0;
}

.block_contact_links {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  font-size: 20px;
  padding: 30px;
}

.block_contact_link {
  text-decoration: none;
}

.block_link-logo {
  width: 15px;
  height: 15px;
}

.block_projects-coded {
  grid-column: 1 / 6;
  grid-row: 3 / 3;
  text-align: center;
  font-size: 60px;
  font-family: "Cedarville Cursive";
}

.block_pic {
  grid-column: 3 / 5;
  grid-row: 1 / 1;
  padding: 0px;
  margin: auto;
  border: none;
  border-radius: 12%;
  overflow: hidden;
  height: 100%;
  width: 70%;
}

.block_selfie {
  width: 100%;
  height: 100%;
}

.block_about-site-title {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.block_site-features {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  line-height: 1.5;
}

.block_features {
  list-style: none;
}

.block_project {
  width: 100%;
  height: 80%;
  overflow: hidden;
  position: relative;
  display: flex;
  border: solid 1px black;
  margin: auto;
}

.block_details {
  margin: 0;
  padding: 0;
}

.block_project_1_details {
  grid-column: 1 / 3;
  grid-row: 4 / 4;
  display: flex;
  justify-content: flex-end;
}

.block_project_1 {
  grid-column: 3 / 6;
  grid-row: 4 / 4;
}

.block_project_2 {
  grid-column: 1 / 3;
  grid-row: 5 / 5;
}

.block_project_2_details {
  grid-column: 3 / 6;
  grid-row: 5 / 5;
  padding-left: 30px;
}

.block_project_3_details {
  grid-column: 1 / 3;
  grid-row: 6 / 6;
  display: flex;
  justify-content: flex-end;
}

.block_project_3 {
  grid-column: 3 / 6;
  grid-row: 6 / 6;
}

.iframe-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.block_iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  transform-origin: 0 0;
  overflow: hidden;
}

.block_project_feats {
  list-style: square;
  line-height: 36px;
  padding: 20px;
  margin: 0;
}

.project_name {
  list-style-type: none;
}
