@font-face {
  font-family: "Michroma";
  src: url(../vendors/fonts/Michroma/Michroma-Regular.ttf);
}

@font-face {
  font-family: "Quicksand";
  src: url(../vendors/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Cedarville Cursive";
  src: url(../vendors/fonts/Cedarville_Cursive/CedarvilleCursive-Regular.ttf);
  font-size: 60px;
}

@font-face {
  font-family: "Gruppo";
  src: url(../vendors/fonts/Gruppo/Gruppo-Regular.ttf);
}

.body_wrap {
  padding: 50px;
  margin: 0;
  background-color: rgb(239, 221, 196);
  font-family: "Quicksand";
  margin: 0;
}

/* STICKERS */

.stickers_1 {
  position: absolute;
  top: 200px;
  right: 50px;
  width: 70px;
  height: 250px;
  opacity: 80%;
}

.stickers_2 {
  position: absolute;
  top: 160px;
  left: -200px;
  z-index: -1;
  opacity: 80%;
  height: 450px;
}

.stickers_3 {
  width: 155px;
  opacity: 80%;
}

.stickers_4 {
  position: absolute;
  top: 650px;
  left: 40px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

/* HEADER + NAV BAR */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0;
}

.header__title {
  font-family: "Michroma";
  color: rgb(102, 88, 22);
  font-size: 60px;
  margin: 0;
}

.header__links {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 90px;
  font-size: 30px;
  font-family: "Cedarville Cursive";
  padding: 0;
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: rgba(143, 61, 3, 0.875);
}

/* ABOUT ME + SELFIE + DISCLAIMERS */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.4fr 0.2fr;

  height: 100%;
  padding: 0px;
  box-sizing: border-box;
}

.container__about-me {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  font-size: 20px;
  margin-top: 25px;
  line-height: 1.5;
}

.container__sub-title {
  font-family: "Cedarville Cursive";
  font-size: 30px;
}

.disclaimers-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.disclaimers-block__title {
  padding: 110px 0 0px 0;
  margin: 0;
  font-family: "Gruppo";
  letter-spacing: 10px;
  font-size: 48px;
  color: darkred;
  font-weight: 900;
}

.disclaimers-block__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  text-align: center;
  font-size: 24px;
  list-style: none;
  gap: 25px;
  line-height: 30px;
}

.disclaimers-block__art {
  background-color: #b5491f;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0 10px;
}

.block-pic {
  grid-column: 3 / 5;
  grid-row: 1 / 1;
  padding: 0px;
  margin: auto;
  border-radius: 12%;
  overflow: hidden;
  height: 80%;
}

.block-pic__selfie {
  width: 100%;
  height: 100%;
}

/* ABOUT SITE + CONTACT INFO */

.block {
  border: solid black 1px;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12), 0 1.5px 6px rgba(0, 0, 0, 0.1);
  background: #fff;
  transition: box-shadow 0.3s, transform 0.3s;
  text-align: center;
}

.block__title {
  display: flex;
  justify-content: center;
  text-underline-offset: 4px;
  font-family: "Cedarville Cursive";
  font-size: 30px;
  margin: 0 0 20px 0;
}

.block_site-features {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  line-height: 1.5;
  margin-right: 50px;
  background-color: #a3881d;
}

.block_features {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  gap: 40px;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.block__feature {
  outline: solid 2px;
  padding: 12px;
  background-color: #ffffff;
  border-radius: 4px;
}

.block_contact-info {
  grid-column: 3 / 6;
  grid-row: 2 / 2;
  margin-left: 50px;
  background-color: #a3674f;
}

.block_contact_links {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  justify-content: space-around;
}

.block_contact_link {
  text-decoration: none;
  outline: solid 2px black;
  background-color: #ffffff;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100px;
  padding: 20px;
}

.block_link-logo {
  width: 50px;
  height: 50px;

  border-radius: 16px;
}

/* PROJECTS SECTION */

.block_projects-coded {
  grid-column: 1 / 6;
  grid-row: 3 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: "Cedarville Cursive";
}

.block_project {
  width: 100%;
  height: 80%;
  overflow: hidden;
  position: relative;
  display: flex;
  border: solid 1px black;
  margin: auto;
  box-sizing: border-box;
}

.project__detail {
  font-size: 24px;
  padding: 20px;
}

.block_project_1 {
  grid-column: 3 / 6;
  grid-row: 4 / 4;
}

.block_project_1_details {
  grid-column: 1 / 3;
  grid-row: 4 / 4;
  display: flex;
  justify-content: flex-end;
}

.block_project_2 {
  grid-column: 1 / 3;
  grid-row: 5 / 5;
}

.block_project_2_details {
  grid-column: 3 / 6;
  grid-row: 5 / 5;
  padding-left: 80px;
}

.block_project_3 {
  grid-column: 3 / 6;
  grid-row: 6 / 6;
}

.block_project_3_details {
  grid-column: 1 / 3;
  grid-row: 6 / 6;
  display: flex;
  justify-content: flex-end;
}

.block_project_4 {
  grid-column: 1 / 3;
  grid-row: 8 / 8;
}

.block_project_4_details {
  grid-column: 3 / 6;
  grid-row: 8 / 8;
  padding-left: 80px;
}

.block_project_5 {
  grid-column: 3 / 6;
  grid-row: 9/ 9;
}

.block_project_5_details {
  grid-column: 1 / 3;
  grid-row: 9 / 9;
  display: flex;
  justify-content: flex-end;
}

.iframe-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.block_iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  transform-origin: 0 0;
  overflow: hidden;
}

.block_project_feats {
  list-style: square;
  line-height: 36px;
  padding: 20px;
  margin: 0;
}

.project_name {
  list-style-type: none;
}

.project__title {
  font-size: 36px;
  margin: 0;
}

.tech-stack {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
}

.tech-stack__column-title {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.tech-stack__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tech-stack__github {
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  margin-bottom: 50px;
}

.work-history__job {
  display: flex;
  margin-bottom: 60px;
}
